<section class="terms_use col-md-12 pt-3">
<div class="container">
	<h1 class="page_title">Conditions of Use</h1>
	<h3>KEY CRAZE, INC - TERMS OF USE (User Agreement)</h3>
	<p>The following describes the terms on which Key Craze, Inc offers you access to our services.</p>
	<h4>Introduction</h4>
	<p>Welcome to Key Craze, Inc. A Wholesale Company. These terms and conditions (User Agreement) apply to the services available from the domain and sub-domains of http://www.keycraze.com. If you reside in the U.S.A. you are contracting with Key Craze, Inc., 8372 Carbide Ct Sacramento CA 95828 USA. In this User Agreement, all Key Craze contracting parties are known as "Key Craze", "we", "us" or "our".</p>
	<p>Your use of our services is governed by the following terms and conditions. Before you can become a customer of Key Craze, you must read and accept all of the terms and conditions of this Terms of Use/User Agreement and each of the "Additional terms" referred to in this Terms of Use. You should read through all the terms carefully. The Terms of Use (User Agreement) constitutes a legally binding agreement between you and Key Craze.</p>
	<p>This User Agreement is valid from August 1st, 2007 and is effective upon acceptance of new users. </p>
	<h4>Using Key Craze</h4>
	<p>You may not use the Site if you are under the age of 18 or you are not able to form legally binding contracts.</p>
	<p>While using the Site, you will not:</p>
		<ul>
			<li>fail to pay for items purchased by you</li>
			<li>distribute viruses or any other technologies that may harm Key Craze, or the interests or property of Key Craze users;</li>
			<li>copy, modify, or distribute Key Craze's copyrighted works or trade marks, or other content from the Site, without our express consent; or</li>
			<li>harvest or otherwise collect information about users, including email addresses, without their express consent.</li>
		</ul>
	<p>We will commence supplying our services to you as soon as you accept this User Agreement. Unless you and Key Craze0 agree otherwise, you will not be able to cancel this User Agreement under the Consumer Protection (Distance Selling) Regulations 2000 (or any equivalent legislation in your jurisdiction) once the supply of the services has commenced.</p>
    <h4>Abusing Key Craze</h4>
		<p>Key Craze and the Key Craze community work together to keep the site working properly and the community safe. Please report problems, offensive content, and policy breaches to us.</p>
		<p>We cannot guarantee continuous or secure access to our services, and operation of the Site may be interfered with by numerous factors outside of our control. While we will use our reasonable endeavors to maintain an uninterrupted service, we cannot guarantee this and we do not give any promises or warranties (whether express or implied) about the availability of our services. </p>
		<p>We (including our parent, subsidiaries, affiliates, officers, directors, agents and employees) shall not be liable to you in contract, tort (including negligence) or otherwise for any business losses, such as loss of data, profits, revenue, business, opportunity, goodwill, reputation or business interruption or for any losses which are not reasonably foreseeable by us arising out of your use of our Site. </p>
		<p>Regardless of the previous paragraph, if we are found to be liable, our liability, and the liability of our parent, subsidiaries, affiliates, officers, directors, agents and employees, to you is limited in any 12 month period to the greater of: (a) the total fees you paid to us in relation to the listing or other service offered which gave rise to the liability, and (b) $150.</p>

		<p><b>Refund Policy</b>&nbsp;&nbsp; No Refunds</p>
		<p><b>RETURNS:</b>
		Key machines, key machine parts, or close outs, partial quantities, and special orders are not returnable. No exceptions.
		Performance issues with key machines must be addressed to the manufacturer. It is recommended that you retain all paperwork, packaging and shipping box from your key machine in case you encounter any problems or just in case your machine needs to be sent back for service.  Customer must pay for shipping on Machines outside of the US.
		Items that are returned to us marked return to sender, or undeliverable, will be charged a 10% restocking fee, less shipping. No further delivery attempts will be made.
		Returnable items are accepted within 30 days for a refund of original price, minus a 10% restocking fee and any shipping charges. Please contact our office to assure that your order is returnable and to obtain authorization. </p>
		<p><b>Key Machine Shipping:</b>	We value all our Customers, But FREE Shipping only applies to the Contiguous United States. (Excluding Alaska and Hawaii). All Non US Customers must pay Shipping Charges on Key Machines. Key Craze is not responsible for any damages that may occur durring shipping.</p>
		<p><b>Delivery Time: </b>&nbsp; 1-5 Days within the United States</p>
		<p><b>Pinning Mat: </b>&nbsp; If you would like to recieve a Free Pinning Mat, you must Purchase at least 10 Packs of Pins (LIMIT 1 PER CUSTOMER). </p>
		<p>The Site contains robot exclusion headers. Much of the information on the Site is updated on a real-time basis and is proprietary or is licensed to Key Craze by our users or third parties. You agree that you will not use any robot, spider, scraper or other automated means to access the Site for any purpose without our express written permission.</p>
		<p>Additionally, you agree that you will not:</p>
		<ul>
			<li>take any action that imposes or may impose (in our sole discretion) an unreasonable or disproportionately large load on our
			infrastructure; 
			</li>
			<li>copy, reproduce, modify, create derivative works from, distribute, or publicly display any content (except for your
			information) from the Site without the prior expressed written permission of Key Craze and the appropriate third party, as applicable;
			</li>
			<li>interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site; or</li>
			<li>bypass our robot exclusion headers or other measures we may use to prevent or restrict access to the Site.</li>
		</ul>
		<h4>Privacy</h4>
		<p>We do not sell or rent your personal information to third parties for their marketing purposes without your express consent. We use your information only as described in the <u>Key Craze Privacy Policy</u>. We view protection of users' privacy as a very important community principle. We store and process your information on computers located in the United States that are protected by physical as well as technological security devices. You can access and modify the information you provide us and choose not to receive certain communications by signing-in to your account. We use third parties to verify and certify our privacy principles. For a complete description of how we use and protect your personal information, see the Key Craze Privacy Policy. If you object to your information being transferred or used in this way please do not use our services.</p>
		<h4>Compensation</h4>
		<p>You agree that you will only use the Site in accordance with the terms and conditions set out in this User Agreement. You will compensate us in full for any losses or costs (including reasonable legal fees) we incur arising from any breach by you of this User Agreement.</p>
		<h4>No agency</h4>
		<p>No agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship is intended or created by this User Agreement.</p>
		<h4>Third party rights</h4>
		<p>A person who is not a party to this User Agreement has no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of this User Agreement but this does not affect any right or remedy of a third party specified in this User Agreement or which exists or is available apart from that Act.</p>
		<h4>Bounced Checks</h4>
		<p>The return of a check (electronic or paper) issued to Key Craze, Inc.  will result in a $30.00 returned check fee being placed on the customer account, no matter the reason. Each account will be allowed two returned checks after which payment by check will no longer be accepted. This includes returned electronic payments. The account holder will be notified via email and/or telephone on how to complete payment. A hold will be placed on the account affected until the full payment has been made.</p>		
	   <h4>Disputed Credit Card Charges</h4>
       <p>If a credit card charge is disputed by a customer to their credit card company but is found to be valid based on the information provided to Key Craze, Inc., i.e. If the credit card in question matches credit card provided by the customer (even if the credit card company finds in favor of the customer), the customer account will incur a $25 charge back fee. The account holder will be notified via email and/or telephone on how to complete payment. A hold will be placed on the account affected until the full payment has been made.</p>
		<h4>Governing law and dispute resolution</h4>
		<p>This User Agreement shall be governed by and construed in accordance with English law. You and Key Craze both agree to submit to the non-exclusive jurisdiction of the English Courts.</p>
		<p>If a dispute arises between you and Key Craze, we strongly encourage you to first seek a resolution by contacting the manager of Key Craze, Inc. Alternatively you may address complaints to 8372 Carbide Ct Sacramento, CA 95828. We will consider reasonable requests to resolve the dispute through alternative dispute resolution procedures, such as mediation or arbitration, as alternatives to litigation.</p>
		<p>Each of these policies may be changed from time to time. Changes take effect when we post them on the Site. When using particular services on the Site, we advise you to check whether the applicable policy or rule has been amended on the Site as you will be bound by the latest version of any applicable policies or rules which may be posted on the Site from time to time. All such policies or rules are hereby incorporated into this User Agreement.</p>
		<h4>General</h4>
		<p>If any provision of this User Agreement is held to be invalid or unenforceable, such provision shall be struck out and the remaining provisions shall be enforceable.</p>
		<p>In our sole discretion, we may assign this User Agreement to a third party by giving you notice in accordance with the Notices section above (but without your prior express consent), provided that we assign the User Agreement on the same terms or terms that are no less advantageous to you.</p>
		<p>Section headings are for reference purposes only and do not limit the scope or extent of the sections.</p>
		<p>Our failure to act with respect to a breach by you or others does not waive our right to act with respect to subsequent or similar breaches.</p>
		<p>We may amend this User Agreement at any time either by e-mail, or by posting the amended terms on the Site. Except as stated elsewhere in this User Agreement, all amended terms shall automatically be effective 30 days after they are initially posted on the
		Site. This User Agreement may not be otherwise amended except in a writing signed by you and us.</p>
		<p>This User Agreement sets forth the entire understanding and agreement between us with respect to its subject matter.
		</p>
		<p>If you have any questions about this User Agreement, you should contact us by writing to us at Key Craze, Inc. 8372 Carbide Ct, Sacramento, CA 95828
		</p>
		<div class="col col-md-12">
			<a class="botton btn-blue" href="">Back</a>
		</div>
</div>
</section>  