<section class="account_pass mobile_input col-md-12 mt-3">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="container">
<div class="row">	    
	<div class="col-md-12">
		<h3 class="border-bottom pb-2">Forgotten Password</h3>
		<p>Enter your email address below and we'll send you an email message containing your new password.</p>
		<div class="text-danger my-3 mb-4">* Required information</div>
		
		<div class="mb-3 mt-2 row">
		   <label class="col-sm-1 col-form-label fw-bold">Email Address:</label>		
		   <div class="col-sm-3">
			  <input formControlName="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
		      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
		         <div *ngIf="f.email.errors['required']">Email is required</div>
		      </div>
		   </div>
		</div>
		<div class="col-sm-3 my-4">
		    <button class="botton btn-blue">
				 Submit the Information 
			</button>
			<a href="/account/login" class="botton btn-blue ms-2">
				Back
			</a>				
		</div>
	</div>	
</div>
</div>
</form>
</section>