<section class="account_pass mobile_input col-md-12 mt-3">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="container">
<div class="row">	    
	<div class="col-md-12">
		<h3 class="border-bottom pb-2">My Password</h3>
		<div class="text-danger my-3 mb-4">* Required information</div>
		
		<div class="mb-3 mt-2 row">
		   <label class="col-sm-1 col-form-label fw-bold">Current Password:</label>		
		   <div class="col-sm-3">
			  <input formControlName="current_password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.current_password.errors }" />
		      <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
		         <div *ngIf="f.current_password.errors['required']">Current Password is required</div>
		      </div>
		   </div>
		</div>
		<div class="mb-3 mt-2 row">
		   <label class="col-sm-1 col-form-label fw-bold">New Password:</label>		
		   <div class="col-sm-3">
			  <input formControlName="new_password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" />
		      <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
		         <div *ngIf="f.new_password.errors['required']">New Password is required</div>
		      </div>
		   </div>
		</div>
		<div class="mb-3 mt-2 row">
		   <label class="col-sm-1 col-form-label fw-bold">Confirm Password:</label>		
		   <div class="col-sm-3">
			  <input formControlName="confirm_password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
		      <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
		         <div *ngIf="f.confirm_password.errors['required']">Confirm Password is required</div>
		      </div>
		   </div>
		</div>
		<div class="col-sm-3 my-4">
		    <button class="botton btn-blue">
				 Submit the Information 
			</button>
			<a href="/my-account" class="botton btn-blue ms-2">
				Back
			</a>				
		</div>
	</div>	
</div>
</div>
</form>
</section>