<section class="slider_main col-md-12 pt-3 mb-4">
<div class="container">
<div class="row">
	<div class="col-lg-7">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="17" aria-label="Slide 18"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="18" aria-label="Slide 19"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="19" aria-label="Slide 20"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="20" aria-label="Slide 21"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="21" aria-label="Slide 22"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="22" aria-label="Slide 23"></button>			
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="22" aria-label="Slide 23"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="23" aria-label="Slide 24"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="24" aria-label="Slide 25"></button>
			<!--<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="25" aria-label="Slide 26"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="26" aria-label="Slide 27"></button>-->
		  </div>
		  <div class="carousel-inner">
			<!--<div class="carousel-item">
				<a href="https://www.keycraze.com/category/283-nfl-team-items">
					<img src="/assets/images/slider/las-vegas-kc.jpg" class="d-block w-100" alt="...">
				</a>
			</div>-->
			<div class="carousel-item active">
				<a href="https://www.keycraze.com/category/244-trendy-keys">
					<img src="/assets/images/slider/New-Trendy-Keys.png" class="d-block w-100" alt="...">
				</a>
			</div> 			
			<div class="carousel-item">
				<a href="https://www.keycraze.com/category/523-rhinestone-key-chains">
					<img src="/assets/images/slider/New-Rhinestone-Keychain.png" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="https://www.keycraze.com/search/1-PC">
					<img src="/assets/images/slider/m1-plastic-head-keys.jpg" class="d-block w-100" alt="...">
				</a>
			</div> 
			<div class="carousel-item">
				<a href="/product/14452">
					<img src="/assets/images/slider/rw4_flash_sale.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/545">
					<img src="/assets/images/slider/emboss_keys_deal.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/product/9938">
			  <img src="/assets/images/slider/keymachine_deal.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/search/unicorn">
					<img src="/assets/images/slider/unicorn_key_slider.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/search/rhk-">
					<img src="/assets/images/slider/RHK_Remotes.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/search/rke-">
					<img src="/assets/images/slider/RKE_Remotes.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/270">
					<img src="/assets/images/slider/oem_transponder_key_slider.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/252">
					<img src="/assets/images/slider/oem_transponder_chips_slider.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/523">
					<img src="/assets/images/slider/RhineStone_Key_Chains.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/search/utility">
					<img src="/assets/images/slider/Utility_Tools_Keychains.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/518">
					<img src="/assets/images/slider/hyko-chip-keys-slider.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/515">
					<img src="/assets/images/slider/monthly_specials.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/507">
					<img src="/assets/images/slider/strattec_keys_banner.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/search/FASHION%20LANYARD">
					<img src="/assets/images/slider/fashion_lanyard_banner.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/order-history">
					<img src="/assets/images/slider/easy_ordering_banners.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/216">
					<img src="/assets/images/slider/car_remote_shells.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/282">
					<img src="/assets/images/slider/universal_gun_key.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/244">
					<img src="/assets/images/slider/trendy_keys.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<!--<div class="carousel-item">
				<a href="/category/274">
					<img src="/assets/images/slider/key_shape_keys.jpg" class="d-block w-100" alt="...">
				</a>
			</div>-->
			<div class="carousel-item">
				<a href="/category/270">
			  <img src="/assets/images/slider/silver_technologies_transponder_keys.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/search/emoji">
					<img src="/assets/images/slider/emoji_key_caps.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/97">
					<img src="/assets/images/slider/disney_key_blanks.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
			<div class="carousel-item">
				<a href="/category/283">
					<img src="/assets/images/slider/licensed_team_keys_and_accessories.jpg" class="d-block w-100" alt="...">
				</a>
			</div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		  </button>
	</div>
    </div>
    <div class="col-lg-5 free_shipping">
         <img class="img-fluid w-100" src="/assets/images/free-shipping.svg" width="100px" height="100px" alt="Free Shipping" />
    </div>
</div>
</div>
</section>   
<section class="col-lg-12 home_content pt-4">
<div class="container">
<div class="row">
  	<div class="col-lg-12">
  		<h1 class="my_heading fw-bold pb-2">Key Craze, Inc</h1>
  		<p>Welcome to Key Craze. A wholesale company for locksmiths. We are key blanks suppliers offering painted key blanks in innovative styles, which are sold throughout the United States and Canada. We offer a large selection of unique key blanks and accessories to suit every preference. We are committed to providing the highest quality keys, fast delivery and the best customer service in the business.</p>
		<p> You will find painted key blanks in enough variety to satisfy every customer at Key Craze. Some of our popular styles include Disney keys, sports themes, professional teams and college team keys, cars, Harley Davidson keys and much more. In addition to a wide array of unique styles, we create custom key blanks. If you are looking for traditional keys, we have brass, nickel plated and other finishes.</p>
		<p> At Key Craze, we also have a wide variety of key accessories at competitive prices. Check our Key Accessories category to find quality accessories, including key chains, wrist coils, key tags, key reels, belt holders, key identifiers, lanyards and much more. We have unique items, such as antique locks and keys, decorative key hooks, displays and merchandisers and more.</p>
		<p> Browse our website to find bulk key blanks, mailbox key blanks, car keys, transponder keys, including Ilco key blanks, and many other keys and accessories. We offer free shipping throughout the United States for orders of more than $100. Place your order online in minutes and discover why we are among the leading key blanks suppliers serving the U.S. and Canada. If you have questions, please give us a call today at (800) 490-7539. </p>
  	</div>
	<div class="col-lg-12 partners text-center pt-3">
        <img src="/assets/images/keycraze_partners.jpg" class="img-fluid" alt="keycraze_partners">
    </div>
</div>
</div>
</section> 
