<section class="checkout_success col-md-12 mt-3" *ngIf="OrderId">
<div class="container">
<div class="row">	    
	<div class="col-md-12 mb-2">
		<h1>Thank You! We Appreciate your Business!</h1>
		<h3 class="mt-3 mb-3">Your Order Number is: {{OrderId.order_id}}</h3>
		<p>Thank you for shopping. Please click the Log Off link to ensure that your receipt and purchase information is not visible to the next person using this computer.</p>
		<p>You will receive an email containing the order details to the email address you mentioned while signing up within a few moments.</p>
		<p class="text-right"></p>
		<div class="col-md-12 text-center">
			<div class="join_mailing border border-dark border-2">
				<div class="w-100 fw-bold title_join p-1">Join Our Mailing List</div> 
				<div class="p-2">
					<label class="col-form-label w-100 p-0 pb-1">Email:</label> 
					<input type="email" class="form-control">
					<button class="botton btn-blue mt-2">Go</button>
				</div>
			</div>
		</div>	
		<div class="checkout_success_image text-center my-4">
			<img src="/assets/images/meet-or-beat.jpg" alt="" class="img-responsive">
		</div>
	</div>
</div>
</div>
</section>
