 <section class="terms_use col-md-12 pt-3">
<div class="container">
	<h1 class="page_title">About Us</h1>
	<h4>About Key Blanks</h4>
	<p>Key blanks (sometimes called blank key, key blank or blank keys) are keys that have not been cut to a specific biting. The key blank has to match the keyway in a corresponding lock cylinder. Key blanks can be stamped with a manufacturer name, end-user logo or with a phrase, the most commonly seen being 'Do Not Duplicate'. Key Blanks are typically stocked by locksmiths and hardware stores for duplicating keys or for replacement keys. Basically, you can take your key for duplication to any place that cut keys, whether it's a locksmith, home improvement store, shoe repair and gift shops.</p>
	<p>Key blanks are often protected by brass or nickel plating. In addition to brass and Nickel plating, they are painted house key blanks (color keys), decorated key blanks (with rhinestones), designer key blanks and printed house key blanks.</p>
	<h4>Our History</h4>
	<p>Key Craze, Inc., located in Sacramento, CA, offers a wide array of colored novelty key blanks. Using special non-eroding inks, these brightly keys are extremely durable, scratch and fade resistant. Key Craze began with only a line of regular design keys, but has since introduced some of the hottest keys on the market. To date, Key Craze has sold millions of its patented 3D shaped keys and continues to work on hot new designs to keep your customers coming back for more.</p>
    <h4>Hot Items</h4>
	<p>The 45mm Gun Key is, by far, the fastest selling key in our collection. Its 3D shape and realistic look make it one of the most unique keys on the market today. We also have the Cowboy Gun Key and will soon be introducing a Rifle Key to complete the collection. These wildly popular keys fly out of our warehouse and will no doubt be a success in your store.</p>
	<p>Our newest line of keys, The Real Superhero Keys, features Army, Navy, Marine, Air Force, Police and Fire Department keys. We have taken great pride in the design of these keys and are proud to be able to honor our countries true heroes with such an impressive product.</p>
	<h4>Our Specialities</h4>
	<p>In addition to our wide variety of novelty keys, we are also dedicated to having to lowest prices in the nation without sacrificing fast service. We ship online and fax orders same day using priority shipping (2-3 days) for all orders over $50. At Key Craze, Inc., we truly want all of our customers to be as successful as possible in their businesses and will do all that we can to ensure that.</p>
	<div class="col col-md-12">
		<a class="botton btn-blue" href="/">Back</a>
	</div>
</div>
</section>   
