<section class="terms_use col-md-12 pt3">
<div class="container">
	<h1 class="page_title">Privacy Notice</h1>
	<h3>KEY CRAZE, INC - PRIVACY POLICY</h3>
	<p>Welcome to the Privacy Policy for the&nbsp;<a href="http://www.keycraze.com/">http://www.keycraze.com</a> website. The Privacy Policy only applies to the United States and Canada.</p>
	<p>This policy describes the ways we collect, store, use and protect your personal information. You accepted this policy when you signed up for our Service. We may amend this policy at any time by posting a revised version on our website. The revised version will be effective at the time we post it. In addition, if the revised version includes a substantial change, we will provide you with 30 days’ prior notice by posting notice of the change on the “Policy Updates” page of our website. We last modified this Policy on August 16, 2007.</p>
	<p>By accepting our Terms of Use by using the Site or when registering an account, you expressly consent to the collection, storage, use and disclosure of your personal information by Key Craze, Inc as described in this Privacy Policy.</p>
	<h4>Information we collect</h4>
	<ul>
		<li>We collect personal identifying information regarding our customers, including information customers give us, information collected as a result of the customer’s relationship with us, and information we obtain from other sources. Examples include name; address; e-mail address; telephone number; billing, payment, usage, credit and transaction information (including credit card numbers, account numbers and/or social security number); and demographic information.</li>
		<li>We also collect personal identifying information that our Web visitors choose to provide to us (e.g., name, address, telephone number, e-mail address) when registering on our Web sites; ordering our products; sending us e-mail; responding to our surveys; entering contests or sweepstakes; or in connection with online ordering or billing functions.</li>
		<li>We use the personal identifying information of a customer to provide, confirm, change, bill, monitor and resolve problems with the quality of our products and services. We also use the personal identifying information of a customer or Web visitor to develop, market and sell our products and services.</li>
		<li>We may aggregate the personal identifying information of different customers or Web visitors to produce data about a group or category of services, customers or Web visitors. For example, we might use aggregate data about the types of services our customers have generally purchased at the same time in order to develop attractive bundled service offerings. Such aggregate data, however, will not reflect any personal identifying information of any specific customer or Web visitor.</li>
	</ul>
	<h4>How we collect information about you</h4>
	<p>When you visit the Key Craze website, we collect your IP address and standard web log information, such as your browser type and the pages you accessed on our website.</p>
	<p>If you open an account, we collect the following types of information from you:</p>
		<ul>
		<li>Contact information - your name, address, phone, email, User ID and other similar information.</li>
		<li>Financial information - credit card numbers that you link to your Key Craze account.</li>
		</ul>
	<p>Before permitting you to use our Service, we may require you to provide additional information we can use to verify your identity or address or manage risk, such as your date of birth, social security number or other information. We may also obtain information about you from third parties such as credit bureaus and identity verification services.</p>
	<p>When you are using our Service, we collect information about your account transactions and we may collect information about your computer or other access device for fraud prevention purposes.</p>
	<p>Finally, we may collect additional information from or about you in other ways not specifically described here. For example, we may collect information related to your contact with our customer support team or store results when you respond to a survey.</p>
    <h4>How we use cookies</h4>
		<p>When you access our website, we, or companies we hire to track how our website is used, may place small data files called “cookies” on your computer.</p>
		<p>We send a "session cookie" to your computer when you log in to your account. This type of cookie helps us to recognize you if you visit multiple pages on our site during the same session, so that we don’t need to ask you for your password on each page. Once you log out or close your browser, this cookie expires and no longer has any effect. </p>
		<p>We also use longer-lasting cookies to display your e-mail address on our sign-in form, so that you don't need to retype the e-mail address each time you log in to your account.</p>
		<p>We encode our cookies so that only we can interpret the information stored in them. You are free to decline our cookies if your browser permits, but doing so may interfere with your use of our website.</p>
		<h4>How we protect and store personal information</h4>
		<p>Throughout this policy, we use the term “personal information” to describe information that can be associated with a specific person and can be used to identify that person. We do not consider personal information to include information that has been anonymized so that it does not identify a specific user.</p>
		<p>We store and process your personal information on our computers in the US, and we protect it by maintaining physical, electronic and procedural safeguards in compliance with applicable US federal and state regulations. We use computer safeguards such as firewalls and data encryption, we enforce physical access controls to our buildings and files, and we authorize access to personal information only for those employees who require it to fulfill their job responsibilities.</p>
		<h4>How we use the personal information we collect</h4>
		<p>Our primary purpose in collecting personal information is to provide you with a safe, smooth, efficient, and customized experience. We may use your personal information to:</p>
		<ul>
			<li>provide the services and customer support you request;</li>
			<li>process transactions and send notices about your transactions</li>
			<li>resolve disputes, collect fees, and troubleshoot problems;</li>
			<li>prevent potentially prohibited or illegal activities, and enforce our User Agreement;</li>
			<li>customize, measure, and improve our services and the content and layout of our website;</li>
			<li>send you targeted marketing, service update notices, and promotional offers based on your communication preferences;</li>
			<li>compare information for accuracy and verify it with third parties.</li>
		</ul>
		<h4>How we share personal information with other parties</h4>
		<p>We may share your personal information with:</p>
		<ul>
			<li>Members of our corporate family to help detect and prevent potentially illegal acts, provide joint services and for other business purposes. However, these corporate affiliates will not use this information to market their services to you unless you have approved it.</li>
			<li>Service providers under contract who help with parts of our business operations; (fraud prevention, bill collection, marketing, technology services). Our contracts dictate that these service providers only use your information in connection with the services they perform for us and not for their own benefit.</li>
			<li>Financial institutions that we partner with to jointly create and offer a product such as the PayPal Plus credit card where we share information with GE Money Bank to determine whether you should receive pre-approved offers for the PayPal Plus credit card. These financial institutions may only use this information to market PayPal-related products, unless you have given consent for other uses.</li>
			<li>Credit bureaus to report outstanding negative balance accounts, as allowed by law.</li>
			<li>Companies that we plan to merge with or be acquired by. (Should such a combination occur, we will require that the new combined entity follow this privacy policy with respect to your personal information. If your personal information could be used contrary to this policy, you will receive prior notice.)</li>
			<li>Law enforcement, government officials, or other third parties when we are compelled to do so by a subpoena, court order or similar legal procedure we need to do so to comply with law we believe in good faith that the disclosure of personal information is necessary to prevent physical harm or financial loss, to report suspected illegal activity, or to investigate violations of our User Agreement.</li>
			<li>Other third parties with your consent or direction to do so.</li>
		</ul>
		<p>PayPal will not sell or rent any of your personal information to third parties in the normal course of doing business and only shares your personal information with third parties as described in this policy.</p>
		<h4>Our e-mail marketing practices</h4>
		<p>We periodically send customers news and updates via e-mail regarding our products, and special promotions. Every marketing e-mail we send contains instructions and an opt-out link that will allow you to stop additional Key Craze marketing e-mails based on line of business.</p>
		<p>We do not provide your e-mail address to third parties for the marketing of third-party products without your consent.</p>
		<h4>Our "Do Not Call" lists</h4>
		<ul>
			<li>We comply with all applicable laws and regulations regarding "Do Not Call" lists. These laws generally permit companies to contact their own customers even though such customers are listed on the federal and, in some instances, state "Do Not Call" lists.</li>
			<li>Retailers/consumers may request that they be removed from Key Craze’s telemarketing/fax lists at any time, including when a Key Craze’s marketing and promotional call is received or by contacting an Key Craze representative.</li>
			<li>Where required by state laws and/or regulations, we also honor requests from business customers to be removed from our telemarketing lists.</li>
		</ul>		
	   <h4>Our policy on online access by children</h4>
       <ul>
			<li>Key Craze’s Web sites are not designed to attract children under the age of 13. We do not target children for the collection of information online and do not knowingly collect personal identifying information from anyone under the age of 18.</li>
			<li>Ordering online products and services from Key Craze is limited to adults (age 18 or over or as otherwise legally defined).</li>
			<li>We comply with all applicable laws and regulations, including the Children's Online Privacy Protection Act (COPPA), which requires the consent of a parent or guardian for the collection of personally identifiable information from children under 13.</li>
	   </ul>
		<h4>Changes to our Privacy Policy</h4>
		<p>We may amend this Privacy Policy at any time by posting the amended terms on the Site. All amended terms shall take effect automatically 30 days after they are initially posted on the Site. In addition, if we intend to use your personal identifying information in a manner materially different from that stated at the time of collection, we will attempt to notify you at least 30 days in advance using an address or e-mail address.</p>
		<h4>How you can contact us about privacy questions</h4>
		<p>If you have questions or concerns regarding this policy, you should contact us by writing to us at Key Craze, Inc. Attn: Privacy Department, 8372 Carbide Ct, Sacramento, CA 95828</p>
		<div class="col col-md-12">
			<a class="botton btn-blue" href="">Back</a>
		</div>
</div>
</section>
